# Node.js
node_modules/
.env
.env.local
npm-debug.log*

# Maven / Java
target/
*.class

# VS Code
.vscode/

# Claude
.claude/

# Data, ngl we shouldn't add this to githuh
# data/*.json 

# Logs
*.log

# tmp
tmp/